@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #2b3e51;
  background-color: #2C2F33;
}

a {
  color: #d35657;
  text-decoration: none;
}

/*   socials         */

ul.social {
  text-align: center;
  padding-top: 25px;
}

ul.social li {
  display: inline-block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  line-height: 80px;
  background: #282828;
  border-radius: 100%;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

ul.social li:hover {
  background: #33cc99;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

ul.social li:hover a {
  top: -70px;
}

ul.social li a {
  display: block;
  width: 100%;
  height: 200%;
  position: relative;
  top: 0;
  color: #33cc99;
  -webkit-transition: top 0.7s;
  -moz-transition: top 0.7s;
  -o-transition: top 0.7s;
  transition: top 0.7s;
}

ul.social li a:after {
  text-align: center;
  position: absolute;
  width: inherit;
  height: 50%;
  left: 0;
  bottom: 0;
  line-height: 70px;
  color: #404040;
}

/* -------------------------------- 

Navigation

-------------------------------- */
.cd-side-navigation {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 74px;
  overflow: hidden;
}

.cd-side-navigation::before {
  /* background color of the side navigation */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #131519;
}

.cd-side-navigation ul {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cd-side-navigation li {
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
}

.cd-side-navigation a {
  display: block;
  position: relative;
  padding: 4em 0 1.5em;
  font-size: 1.2rem;
  text-align: center;
  color: #4a5261;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.cd-side-navigation a svg {
  /* this is the icon */
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 1.3em;
}

.cd-side-navigation a svg * {
  -webkit-transition: stroke 0.2s;
  -moz-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.cd-side-navigation a::after {
  /* 4px line to the right of the item - visible on hover */
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
  background-color: #46ffdb;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}

.no-touch .cd-side-navigation a:hover {
  background-color: #08090b;
}

.no-touch .cd-side-navigation a:hover::after {
  opacity: 1;
}

.cd-side-navigation a.selected,
.no-touch .cd-side-navigation a.selected:hover {
  background-color: #ffffff;
  color: #131519;
}

.cd-side-navigation a.selected>svg *,
.no-touch .cd-side-navigation a.selected:hover>svg * {
  stroke: #46ffdb;
}

.cd-side-navigation li:nth-of-type(2) .selected>svg *,
.cd-side-navigation li:nth-of-type(2) .selected:hover>svg * {
  stroke: #d35657;
}

.cd-side-navigation li:nth-of-type(3) .selected>svg *,
.cd-side-navigation li:nth-of-type(3) .selected:hover>svg * {
  stroke: #3500d3;
}

.cd-side-navigation li:nth-of-type(4) .selected>svg *,
.cd-side-navigation li:nth-of-type(4) .selected:hover>svg * {
  stroke: #e4b162;
}

.cd-side-navigation li:nth-of-type(5) .selected>svg *,
.cd-side-navigation li:nth-of-type(5) .selected:hover>svg * {
  stroke: #00ca69;
}

.cd-side-navigation li:nth-of-type(6) .selected>svg *,
.cd-side-navigation li:nth-of-type(6) .selected:hover>svg * {
  stroke: #00ca69;
}

.cd-side-navigation li:nth-of-type(2) a::after {
  background-color: #d35657;
}

.cd-side-navigation li:nth-of-type(3) a::after {
  background-color: #3500d3;
}

.cd-side-navigation li:nth-of-type(4) a::after {
  background-color: #e4b162;
}

.cd-side-navigation li:nth-of-type(5) a::after {
  background-color: #00ca69;
}

.cd-side-navigation li:nth-of-type(6) a::after {
  background-color: #00ca69;
}

@media only screen and (min-width: 480px) {
  .cd-side-navigation {
    width: 94px;
  }

  .cd-side-navigation a {
    padding: 4em 0 1.5em;
    font-size: 1.3rem;
  }

  .cd-side-navigation a svg {
    top: 1.6em;
  }
}

/* -------------------------------- 

 Main Content

-------------------------------- */
.cd-main {
  height: 100vh;
  overflow: hidden;
}

.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-left: 70px;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s;
  transition: transform 0s 0.5s;
}

.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */
  overflow: hidden;
}

.cd-section header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #282828;
  overflow: hidden;
}

.cd-section.about header {
  background: #282828;
}

.cd-section.projects header {
  background: #282828;
}

.cd-section.education header {
  background: #282828;
}

.cd-section.contact header {
  background: #282828;
}

.cd-section .cd-scroll {
  /* this is the arrow at the bottom of the header */
  display: block;
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50vw - (74px - 4px)/2);
  left: calc(50vw - (74px - 4px) / 2);
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0s 0.5s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, visibility 0s 0.5s;
  transition: transform 0s 0.5s, visibility 0s 0.5s;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
}

.cd-section.visible {
  /* this is the visible/selected section */
  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}

.cd-section.visible .cd-scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0.5s, visibility 0s 0s;
  transition: transform 0.3s 0.5s, visibility 0s 0s;
  -webkit-animation: cd-scroll-down 1.2s 0.9s;
  -moz-animation: cd-scroll-down 1.2s 0.9s;
  animation: cd-scroll-down 1.2s 0.9s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@media only screen and (min-width: 480px) {
  .cd-section {
    padding-left: 90px;
  }

  .cd-section .cd-scroll {
    left: -webkit-calc(50vw - (94px - 4px)/2);
    left: calc(50vw - (94px - 4px) / 2);
  }
}

@-webkit-keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}

@-moz-keyframes cd-scroll-down {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }

  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }

  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}

@keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

.cd-title {
  position: absolute;
  top: 50%;
  left: 0;
  /* this prevents title from jumping when the section scroll bar is visible */
  width: calc(100vw - 90px);
  padding: 1em;
  color: #ffffff;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-80px);
  -moz-transform: translateY(-50%) translateX(-80px);
  -ms-transform: translateY(-50%) translateX(-80px);
  -o-transform: translateY(-50%) translateX(-80px);
  transform: translateY(-50%) translateX(-80px);
  -webkit-transition: -webkit-transform 0s 0.5s, opacity 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, opacity 0s 0.5s;
  transition: transform 0s 0.5s, opacity 0s 0.5s;
}

.cd-title h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.cd-title span {
  opacity: 0.6;
}

.visible .cd-title {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  -moz-transition: -moz-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  transition: transform 0.4s 0.3s, opacity 0.4s 0.3s;
}

@media only screen and (min-width: 768px) {
  .cd-title h2 {
    font-size: 5rem;
  }
}

.cd-content {
  padding: 2em 0;
  /*background-color: #282828;
  */
  background: url('../assets/bg-05.jpg');
}

.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #282828;
}

@media only screen and (min-width: 768px) {
  .cd-content {
    padding: 4em 0;
  }

  .cd-content p {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

 Loading Bar

-------------------------------- */
#cd-loading-bar {
  position: fixed;
  z-index: 2;
  left: 70px;
  width: 4px;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

#cd-loading-bar.index {
  background-color: #46ffdb;
}

#cd-loading-bar.about {
  background-color: #d35657;
}

#cd-loading-bar.contact {
  background-color: #00ca69;
}

#cd-loading-bar.projects {
  background-color: #3500d3;
}

#cd-loading-bar.testimonial {
  background-color: #e4b162;
}

#cd-loading-bar.education {
  background-color: #822eff;
}

#cd-loading-bar.loading {
  visibility: visible;
}

@media only screen and (min-width: 480px) {
  #cd-loading-bar {
    left: 90px;
  }
}

/*    Testimonial     */

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: #39393c;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .cd-testimonials-wrapper {
    width: 100%;
    padding: 5px 10px 7px;
    margin: 1em auto;
  }

  .cd-testimonials-wrapper p {
    font-size: 0.75em;
  }
}



.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: "\201C";
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(32, 32, 34, 0.9);
  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}

@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 114px;
  }
}

/*     responsive query   */
@media only screen and (max-width: 670px) {
  .cd-half-block.content p {
    font-size: 0.80em;
  }
}

/*     responsive query   */
@media only screen and (max-width: 590px) {
  .cd-half-block.content p {
    font-size: 0.70em;
  }
}

/*     responsive query   */
@media only screen and (max-width: 500px) {
  .cd-half-block.content p {
    font-size: 0.60em;
  }
}

@media only screen and (max-width: 400px) {
  .cd-half-block.content p {
    font-size: 0.55em;
  }
}


/*     responsive height query   */
@media only screen and (max-height: 500px) {
  .cd-half-block.content p {
    font-size: 0.60em;
  }
}



/*    i-5s        */
@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.45em;
  }

  .cd-title span {
    font-size: 0.8em !important;
  }
}

/*    i-6/7/8        */
@media (device-height : 667px) and (device-width : 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.60em;
  }
}

/*    i-6/7/8 +       */
@media (device-height : 736px) and (device-width : 414px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.70em;
  }
}

/*    i-6/7/8        */
@media (device-height : 667px) and (device-width : 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.60em;
  }
}

/*    i-6/7/8        */
@media (device-height : 812px) and (device-width : 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.67em;
  }
}

/*    ipad       */
@media (device-height : 1024px) and (device-width : 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 1.2em;
  }
}

/*    galaxy s5      */
@media (device-height : 640px) and (device-width : 360px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.55em;
  }
}

/*    pixel 2      */
@media (device-height : 731px) and (device-width : 411px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.70em;
  }
}

/*    pixel 2 xl      */
@media (device-height : 823px) and (device-width : 411px) and (-webkit-min-device-pixel-ratio: 2) {
  .cd-half-block.content p {
    font-size: 0.75em;
  }
}




@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: #ffffff;
  text-align: center;
}

.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}

.cd-testimonials>li {
  position: absolute;
  opacity: 0;
}

.cd-testimonials>li:first-child {
  position: relative;
  opacity: 1;
}

.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}

@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

.cd-author img,
.cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}

.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}

.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}

.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70;
}

@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }

  .cd-author .cd-author-info {
    line-height: 1.4;
  }

  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }

  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}

.flex-direction-nav li:first-child {
  left: 0;
}

.flex-direction-nav li:last-child {
  right: 0;
}

.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}

.flex-direction-nav li a::before,
.flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
}

.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}

.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}

@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}

@media only screen and (min-width: 1170px) {

  .flex-direction-nav li a::before,
  .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }

  .flex-direction-nav li a:hover::before,
  .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}

.no-touch .cd-see-all:hover {
  color: #79b6e4;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.cd-testimonials-all .cd-testimonials-all-wrapper>ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}

.cd-testimonials-all .cd-testimonials-all-wrapper>ul::after {
  clear: both;
  content: "";
  display: table;
}

.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: #ffffff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}

.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: "";
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4;
}

.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}

.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}

.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
  -webkit-overflow-scrolling: touch;
}

.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }

  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.close-btn::before,
.close-btn::after {
  /* close icon in css */
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}

.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*   Timeline     */

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
  background: #75ce66;
}

.cd-timeline__img.cd-timeline__img--movie {
  background: #c03b44;
}

.cd-timeline__img.cd-timeline__img--location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
  font-size: 1.3rem;
  color: #172a45;
}

.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: 0.8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content h2 {
    font-size: 2rem;
  }

  .cd-timeline__content p {
    font-size: 1.6rem;
  }

  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {

  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*      custom tineline */

/* demo style */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
}

.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #718ca1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.cd-nugget-info a:hover {
  opacity: 0.8;
}

.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}

.cd-nugget-info span svg {
  display: block;
}

.cd-nugget-info .cd-nugget-info-arrow {
  fill: #718ca1;
}

/* -------------------------------- 
Form
-------------------------------- */
.cd-form {
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
}

.cd-form::after {
  clear: both;
  content: "";
  display: table;
}

.cd-form fieldset {
  margin: 24px 0;
}

.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
}

.cd-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}

.cd-form h4,
.cd-form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}

.cd-form .cd-label {
  display: block;
}

.cd-form input,
.cd-form textarea,
.cd-form select,
.cd-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;

}

.cd-form input,
.cd-form textarea {
    color: #282828 !important;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.cd-form .cd-select {
  /* select element wapper */
  position: relative;
}

.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: "";
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}

.cd-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.cd-form select::-ms-expand {
  display: none;
}

.cd-form .cd-form-list {
  margin-top: 16px;
}

.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table;
}

.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}

.cd-form input[type="radio"],
.cd-form input[type="checkbox"] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}

.cd-form input[type="radio"]+label,
.cd-form input[type="checkbox"]+label {
  padding-left: 24px;
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="radio"]+label::after,
.cd-form input[type="checkbox"]+label::before,
.cd-form input[type="checkbox"]+label::after {
  /* custom radio and check boxes */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="checkbox"]+label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="radio"]+label::after {
  border-radius: 50%;
}

.cd-form input[type="checkbox"]+label::before,
.cd-form input[type="checkbox"]+label::after {
  border-radius: 0.25em;
}

.cd-form input[type="radio"]+label::after,
.cd-form input[type="checkbox"]+label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}

.cd-form input[type="radio"]+label::after {
  /* custom image for radio button */
  background-image: url("../img/cd-icon-radio.svg");
}

.cd-form input[type="checkbox"]+label::after {
  /* custom image for checkbox */
  background-image: url("../img/cd-icon-check.svg");
}

.cd-form input[type="radio"]:focus+label::before,
.cd-form input[type="checkbox"]:focus+label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}

.cd-form input[type="radio"]:checked+label::after,
.cd-form input[type="checkbox"]:checked+label::after {
  display: block;
}

.cd-form input[type="radio"]:checked+label::before,
.cd-form input[type="radio"]:checked+label::after,
.cd-form input[type="checkbox"]:checked+label::before,
.cd-form input[type="checkbox"]:checked+label::after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

.cd-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}

.cd-form input[type="submit"] {
  /* button style */
  border: none;
  background: #2c97de;
  border-radius: 0.25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.no-touch .cd-form input[type="submit"]:hover {
  background: #42a2e1;
}

.cd-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}

.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.cd-form [required] {
  background: url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25em;
  padding: 16px;
}

.cd-form .error {
  border-color: #e94b35 !important;
}

@media only screen and (min-width: 600px) {
  .cd-form div {
    /* form element wrapper */
    margin: 32px 0;
  }

  .cd-form legend+div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }

  .cd-form h4,
  .cd-form .cd-label {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px;
  }
}

@-webkit-keyframes cd-bounce {

  0%,
  100% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes cd-bounce {

  0%,
  100% {
    -moz-transform: scale(1);
  }

  50% {
    -moz-transform: scale(0.8);
  }
}

@keyframes cd-bounce {

  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/* -------------------------------- 
Custom icons
-------------------------------- */
.cd-form .icon input,
.cd-form .icon select,
.cd-form .icon textarea {
  padding-left: 54px !important;
}

.cd-form .user {
  background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}

.cd-form [required].user {
  background: url("../img/cd-icon-user.svg") no-repeat 16px center,
    url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .company {
  background: url("../img/cd-icon-company.svg") no-repeat 16px center;
}

.cd-form [required].company {
  background: url("../img/cd-icon-company.svg") no-repeat 16px center,
    url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .email {
  background: url("../img/cd-icon-email.svg") no-repeat 16px center;
}

.cd-form [required].email {
  background: url("../img/cd-icon-email.svg") no-repeat 16px center,
    url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .budget {
  background: url("../img/cd-icon-budget.svg") no-repeat 16px center;
}

.cd-form .message {
  background: url("../img/cd-icon-message.svg") no-repeat 16px 16px;
}

.cd-form [required].message {
  background: url("../img/cd-icon-message.svg") no-repeat 16px 16px,
    url("../img/cd-required.svg") no-repeat top right;
}

/* -------------------------------- 
FLoating labels 
-------------------------------- */
.js .floating-labels div {
  margin: 28px 0;
}

.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.js .floating-labels .icon .cd-label {
  left: 56px;
}

.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -16px;
  left: 0 !important;
}

@media only screen and (min-width: 600px) {
  .js .floating-labels legend+div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px;
  }

  .js .floating-labels .cd-label {
    top: 20px;
  }
}

/* -------------------------------- 
Slider
-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  height: 100vh;
  padding: 5px;
}

@media only screen and (min-width: 900px) {
  .cd-slider-wrapper {
    padding: 5px;
  }
}

.cd-slider {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.cd-slider li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}

.cd-slider li.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-slider .cd-half-block {
  height: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.cd-slider li:first-of-type .image {
  background-image: url(../img/img-1.jpg);
}

.cd-slider li:nth-of-type(2) .image {
  background-image: url(../img/img-2.jpg);
}

.cd-slider li:nth-of-type(3) .image {
  background-image: url(../img/img-3.jpg);
}

.cd-slider li:nth-of-type(4) .image {
  background-image: url(../img/img-4.jpg);
}

.cd-slider .image {
  background-size: cover;
}

.cd-slider .content {
  padding: 30px;
  color: #ffffff;
  background-color: #00ad9f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-slider .light-bg {
  color: #ffffff;
}

.cd-slider .btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  padding: 1em 1.6em;
  margin-top: 1em;
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 50em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.no-touch .cd-slider .btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.cd-slider li:nth-of-type(2) .content {
  background-color: #00ad9f;
}

.cd-slider li:nth-of-type(3) .content {
  background-color: #00ad9f;
}

.cd-slider li:nth-of-type(4) .content {
  background-color: #00ad9f;
}

.cd-slider h2 {
  font-size: 2.2rem;
  margin-bottom: 0.4em;
}

.cd-slider p {
  font-size: 1.4rem;
}

.cd-slider h2,
.cd-slider p {
  line-height: 1.4;
}

@media only screen and (min-width: 900px) {
  .cd-slider li {
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: z-index 0s 0.6s;
    -moz-transition: z-index 0s 0.6s;
    transition: z-index 0s 0.6s;
  }

  .cd-slider li.is-visible {
    pointer-events: auto;
    z-index: 3;
    -webkit-transition: z-index 0s 0s;
    -moz-transition: z-index 0s 0s;
    transition: z-index 0s 0s;
  }

  .cd-slider li.is-visible.covered {
    /* list item still there, but covered by the list item entering the viewport (.is-visible) */
    z-index: 2;
  }

  .cd-slider .cd-half-block {
    height: 100%;
    width: 50%;
    float: right;
  }

  .cd-slider .cd-half-block.content {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }

  .cd-slider .cd-half-block.image {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0s 0.3s;
    -moz-transition: -moz-transform 0s 0.3s;
    transition: transform 0s 0.3s;
  }

  .cd-slider li.is-visible .cd-half-block.content,
  .cd-slider li.is-visible .cd-half-block.image {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  .cd-slider li.is-visible .cd-half-block.content {
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }

  .cd-slider .content {
    /* vertically align its content */
    display: table;
    padding: 0 40px;
  }

  .cd-slider .content>div {
    /* vertically align <div> inside div.content */
    display: table-cell;
    vertical-align: middle;
  }

  .cd-slider .btn {
    padding: 1.4em 2em;
    font-size: 1.4rem;
  }

  .cd-slider p {
    font-size: 1.6rem;
  }

  .cd-slider h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  .cd-slider h2,
  .cd-slider p {
    line-height: 2;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-slider .content {
    padding: 0 90px;
  }

  .cd-slider h2 {
    font-weight: 300;
  }
}

/* -------------------------------- 
Slider Navigation
-------------------------------- */
.cd-slider-navigation {
  /* you won't see this element in the html but it will be created using jQuery */
  position: absolute;
  z-index: 3;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
}

.cd-slider-navigation li {
  display: inline-block;
  margin: 0 0.25em;
}

.cd-slider-navigation li.selected a {
  background-color: #ffffff;
}

.cd-slider-navigation a {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  color: transparent;
  /* image replacement */
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  border: 1px solid #ffffff;
}

@media only screen and (min-width: 900px) {
  .cd-slider-navigation {
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.8);
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateZ(2px) translateX(-50%);
    -moz-transform: translateZ(2px) translateX(-50%);
    -ms-transform: translateZ(2px) translateX(-50%);
    -o-transform: translateZ(2px) translateX(-50%);
    transform: translateZ(2px) translateX(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .cd-slider-navigation.slider-animating {
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  .cd-slider-navigation a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    /* reset style */
    text-indent: 0;
    border: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-slider-navigation li.selected a {
    background-color: transparent;
    color: #f3b96c;
  }
}

/*   project  displays           */

.proj {
  position: relative;
  width: 95%;
  height: 500px;
  margin: 0 auto;
}

.proj:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.proj a:hover {
  color: #00ad9f;
}

.projEven {
  border-left: 5px solid #a8b2d1;
}

.projOdd {
  border-right: 5px solid #a8b2d1;
}

.proj .left-preview {
  background-color: #64ffda;
  position: absolute;
  margin: 2%;
  width: 55%;
  height: 90%;
}

.proj .proj-desc {
  background-color: #172a45;
  color: #a8b2d1;
  position: absolute;
  margin: 1%;
  top: 35%;
  padding: 25px;
  transform: translateY(-35%);
  z-index: 4;
  width: 45%;
  left: 50%;
  height: auto;
}

.proj .proj-title {
  font-size: 1.1em;
  color: #65ffda;
  position: absolute;
  margin: 1%;
  top: 3%;
  transform: translateY(-3%);
  z-index: 2;
  width: auto + 1.1em;
  right: 2.5%;
  height: auto;
}

.proj .proj-title p {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
}

.proj .proj-tags {
  color: #a8b2d1;
  position: absolute;
  margin: 1%;
  padding: 1px;
  transform: translateY(-5%);
  z-index: 2;
  width: 35%;
  left: 60%;
  bottom: 2%;
  height: 4em;
}

.proj a {
  color: #64ffda;
}

.proj p {
  color: #a8b2d1;
}

.proj-tags ul {
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}

.proj-tags ul li {
  display: inline;
  padding: 10px 30px;
}

@media only screen and (max-width: 768px) {
  .proj p {
    font-size: 0.55em;
  }

  .proj ul {
    font-size: 0.6em;
  }

  .proj .left-preview {
    visibility: hidden;
  }

  .proj .proj-desc {
    background-color: #172a45;
    color: #a8b2d1;
    position: absolute;
    margin: 1%;
    top: 35%;
    padding: 25px;
    transform: translateY(-35%);
    z-index: 4;
    width: 80%;
    left: 10%;
    height: auto;
  }

  .proj .proj-tags {
    color: #a8b2d1;
    position: absolute;
    margin: 1%;
    padding: 1px;
    transform: translateY(-5%);
    z-index: 2;
    width: 80%;
    left: 10%;
    bottom: 2%;
    height: 4em;
  }
}







@media only screen and (min-width: 768px) {

  a.animated-button:link,
  a.animated-button:visited {
    width: 15% !important;
  }
}





/* Global Button Styles */
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  width: 50%;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #131519;
  text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


a.animated-button.victoria-three {
  border: 2px solid #00ad9f;
}

a.animated-button.victoria-three:after {
  background: #64ffda;
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}




.skills-section {
  padding: 1%;
  width: 95%;
  margin: 5px auto;
  height: auto;
}

.skills-section h1 {
  font-size: 1.1em;
  text-align: center;
  margin-top: 25px;
  padding: 5px;
  border-bottom: #131519 2px solid;
}

.skills-section h2 {
  font-size: 1.1em;
  text-align: center;
  margin: 5px;
  padding: 5px;
  float: left;
}

.skills-section p {
  margin: 0;
  padding: 5px;
}


.skill-list {
  margin: 5px;
  padding: 5px;
  color: #46ffdb;
}

.left-skills {
  display: flex;
  flex: 1;
}

.right-skills {
  display: flex;
  flex: 1;
}


.skill-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.hero-state {
  font-weight: bold;
  font-size: 1.1em !important;
}

.loadingContainer {
	position: absolute;
	top: 50%;
	left: 50%;
}

.loadings {
	border: 6px solid #282828;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-top-color: #46ffdb;
	border-left-color: #46ffdb;
	animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(1080deg);
	}
}


.cd-main.hide {
	display: none;
}

.cd-side-navigation.hide {
	display: none;
} 

.loadingContainer.hide {
	display: none;
}

