// colors
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


$color-1: #282828; // Neptune
$color-2: #d35657; // Chestnut Rose
$color-3: #3500D3; // Tuna
$color-4: #e4b162; // Equator
$color-5: #822eff; // purple
$color-7: #00ca69; //green

$color-8: #131519; // Woodsmoke
$color-6: #ffffff; // White

// fonts 

$primary-font: 'Source Code Pro',
monospace;

// side navigation size

$nav-width-small: 74px;
$nav-width-normal: 94px;
$loading-bar-width: 4px;

//animation

$animation-duration: 0.5s;